-- SpringForge Migration: Add {{columnName}} foreign key to {{tableName}}

ALTER TABLE {{tableName}}
    ADD COLUMN {{columnName}} BIGINT;

ALTER TABLE {{tableName}}
    ADD CONSTRAINT fk_{{tableName}}_{{columnName}}
    FOREIGN KEY ({{columnName}})
    REFERENCES {{targetTable}}(id);

CREATE INDEX idx_{{tableName}}_{{columnName}} ON {{tableName}}({{columnName}});
