import api from '../api';
import { {{entityName}}, {{entityName}}Request } from '../../types/{{entityNameKebab}}';

const BASE_PATH = '/api/{{urlPath}}';

export interface SpringPage<T> {
  content: T[];
  totalElements: number;
  totalPages: number;
  size: number;
  number: number;
}

export const {{entityNameLower}}Api = {
  getAll: (page = 0, size = 10, sort = '') =>
    api.get<SpringPage<{{entityName}}>>(`${BASE_PATH}?page=${page}&size=${size}&sort=${sort}`),


  getById: (id: number) =>
    api.get<{{entityName}}>(`${BASE_PATH}/${id}`),

  create: (data: {{entityName}}Request) =>
    api.post<{{entityName}}>(BASE_PATH, data),

  update: (id: number, data: {{entityName}}Request) =>
    api.put<{{entityName}}>(`${BASE_PATH}/${id}`, data),

  delete: (id: number) =>
    api.delete(`${BASE_PATH}/${id}`),
};

export default {{entityNameLower}}Api;
